.login-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Fondo blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Para centrar el contenido verticalmente */
  
    /* Agrega otros estilos según tus preferencias */
  }
  
  /* Estilos para el contenido del formulario */
  .form-container {
    width: 300px; /* Ancho del formulario */
    padding: 20px;
    background-color: #f0f0f0; /* Color de fondo del formulario */
    border: 1px solid #ccc; /* Borde del formulario */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra del formulario */
  }
  
  /* Estilos para los botones */
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }