<div class="container mt-5">
  <h1 class="mb-4">Calculadora de Edades</h1>
  <div class="form-group">
    <label for="edadUno">Edad 1:</label>
    <input
      type="number"
      class="form-control"
      id="edadUno"
      [(ngModel)]="edadUno"
      placeholder="Ingrese la primera edad"
    />
  </div>

  <div class="form-group">
    <label for="edadDos">Edad 2:</label>
    <input
      type="number"
      class="form-control"
      id="edadDos"
      [(ngModel)]="edadDos"
      placeholder="Ingrese la segunda edad"
    />
  </div>

  <button class="btn btn-primary" (click)="calcular()">Calcular</button>
  <button class="btn btn-secondary" (click)="limpiar()">
    Limpiar Cuadros de Texto
  </button>

  <h2 class="mt-4">Resultados:</h2>
  <div class="form-group">
    <label for="promedio">Promedio:</label>
    <input
      type="text"
      class="form-control"
      id="promedio"
      [value]="promedio?.toFixed(2)"
      readonly
    />
  </div>

  <div class="form-group">
    <label for="suma">Suma:</label>
    <input
      type="text"
      class="form-control"
      id="suma"
      [value]="suma?.toFixed(2)"
      readonly
    />
  </div>
</div>

<router-outlet></router-outlet>
